.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    border: 1px solid black;
    margin: auto;
}
#inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    align-items: center;
}
img {
    max-height: 200px;
    max-width: 200px;
    transition: all 0.5s;
    margin: 1rem;
}
img:hover {
    box-shadow: 5px 5px 10px 5px rgb(157, 157, 238);
}
#result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#result * {
    margin: 1rem;
}